@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/Images/background-2.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    width: 170px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 30px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    text-align: center;
}

.seperation {
    height: 9px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.language select {
    padding: 7px 35px;
    font-size: 18px;
    position: relative;
    z-index: 10;
    color: white;
    font-weight: bold;
    border: none;
    background-color: rgba(23, 23, 23, 0.2);
    border: 2px solid white;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 15px 35px;
    font-size: 30px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

.btn-red a:link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btn-red-sm a:link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btn-red a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btn-red-sm a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.main input {
    padding: 22px 238px 22px 16px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 29vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 506px;
    position: absolute;
    top: 108px;
    bottom: 110px;
    right: 98px;
}

section.first>div {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 55px;
    font-weight: 600;
}

section.first>div :nth-child(2) {
    font-size: 30px;
}

.faq h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 50px;
}

.faq {
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
    padding: 95px;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox {
    transition: all 0.1s ease-out;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 30px;
    max-width: 58vw;
    margin: 12px auto;
    cursor: pointer;
}


footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 70px;
}

footer .questions {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}


.footer a {
    font-size: 14px;
    color: white;

}

.footer-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    display: grid;
    flex-direction: column;
    gap: 25px;
}